.content {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 4rem;
  margin-top: -83rem;
}

.content__landing {
  position: relative;
  width: 100%;
  height: 100%;
}
.content__landing video {
  max-width: 100%;
  min-width: 100%;
}
.content__landing .filter--grey {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: grey;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.content__landing .landing__text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content__landing .landing__text h2 {
  font-size: 3vw;
}
.content__landing .landing__text p {
  font-size: 4vw;
}
.content__landing .icon-kickstarter {
  position: absolute;
  bottom: 4%;
  left: 2%;
  width: 10%;
}
.content__landing .landing__social {
  position: absolute;
  right: 1%;
  top: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content__landing .landing__social img {
  width: 5%;
}
.content__landing .landing__social a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.content__presentationProduct {
  display: grid;
  grid-auto-columns: auto;
  grid-gap: 4rem;
  width: 90%;
  margin: auto;
}
.content__presentationProduct div[class^="presentationProduct__item"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, auto);
  grid-gap: 5rem;
  margin: auto;
}
.content__presentationProduct div[class^="presentationProduct__item"] .presentationProduct__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6rem;
}
.content__presentationProduct div[class^="presentationProduct__item"] .presentationProduct__icon {
  display: flex;
  justify-content: space-around;
}
.content__presentationProduct div[class^="presentationProduct__item"] img[class^="presentationProduct__img"] {
  width: 80%;
}
.content__presentationProduct div[class^="presentationProduct__item"] .presentationProduct__img-right {
  display: flex;
  justify-content: flex-end;
}
.content__presentationProduct div[class^="presentationProduct__item"] .end-product {
  align-items: flex-end;
}
.content__presentationProduct div[class^="presentationProduct__item"] .presentationProduct__img--2 {
  width: 80%;
  height: 80%;
}

.content__kickstarter .kickstarter__banner {
  position: relative;
  color: white;
}
.content__kickstarter .kickstarter__banner img {
  display: block;
  width: 80%;
  height: 20%;
  z-index: -10;
  margin: auto;
}
.content__kickstarter .kickstarter__banner .kickstarter__text {
  position: absolute;
  font-size: 2vw;
  top: 40%;
  left: 50%;
  transform: translate(-190%, -50%);
  text-align: left;
}
.content__kickstarter .kickstarter__banner .kickstarter__text a {
  text-decoration: none;
  color: white;
  background-color: #017361;
  padding: 0.1rem 0.7rem 0.1rem 0.7rem;
}
.content__kickstarter .kickstarter__banner .kickstarter__text a:hover {
  color: #017361;
  background-color: white;
  transition: 1s;
}

.content section.parallaxMouse {
  width: 100%;
  height: 700px;
  background-image: url(../../../images/parallax/loft.png);
  background-size: 100%;
  overflow: hidden;
}
.content section.parallaxMouse .parallaxMouse__textContainer {
  width: 100%;
  height: 600px;
  transform-style: preserve-3d;
}
.content section.parallaxMouse .parallaxMouse__textContainer .parallaxMouse__machine {
  width: 200px;
  margin: 5% 45%;
  transform: translateZ(20px);
}
.content section.parallaxMouse .parallaxMouse__textContainer div p {
  color: white;
  font-size: 1.5rem;
  position: absolute;
}
.content section.parallaxMouse .parallaxMouse__textContainer div img {
  width: 80px;
  position: absolute;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__p1 {
  left: 18%;
  top: 4.5rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__i1 {
  left: 10%;
  top: 4rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__p2 {
  left: 76%;
  top: 11.5rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__i2 {
  left: 68%;
  top: 11rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__p3 {
  left: 22%;
  top: 20.5rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__i3 {
  left: 14%;
  top: 20rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__p4 {
  left: 40%;
  top: 30.5rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__i4 {
  left: 32%;
  top: 30rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__p5 {
  left: 75%;
  top: 35.5rem;
}
.content section.parallaxMouse .parallaxMouse__textContainer div .parallaxMouse__textContainer__i5 {
  left: 67%;
  top: 35rem;
}

@media all and (max-width: 900px) {
  .content {
    margin-top: 0rem;
  }

  #inital {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  #inverse {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  #inverse .presentationProduct__img--2 {
    grid-row: 2;
  }
  #inverse .presentationProduct__text {
    grid-row: 1;
  }

  .presentationProduct__text {
    margin: 0 auto;
  }

  img[class^="presentationProduct__img"] {
    margin: auto;
  }
}
@media all and (max-width: 1200px) {
  .content__tilt {
    display: none;
  }
}

/*# sourceMappingURL=style--landing.css.map */
