

body{
  margin: auto;
  header {
    position: fixed;
    z-index: 2;
  }
  section.models {
    margin-top: 5rem;

  }

  //début partie produit 3 couleurs
  .models{
    max-width: 1088px;
    margin: 0 auto;
    
    .models__title{
      width: 6rem;
      margin: auto;
      margin-top: 1rem;
      z

      .models__h2{
        position: absolute;
        top: 0rem;
        z-index: 1;
      }
      .models__blue{
        width: 100px;
        height: 20px;
        background-color: #608DAF;
        opacity: 0.75;
        margin-left: 20px;
        z-index: -2;
        position: relative;
        top: -2.2rem;
      }
    }

    .models__container--grid{
      display: grid;
      grid-template-columns: (1fr 1fr);
    }
      .models__aside{
        .aside__colorBack{
          height: 500px;
          position: relative;
          .models__img{
            width: 270px;
            height: 440px;
            display: block;
            margin-bottom: 1rem;
            position: absolute;
            left: 25%;
            z-index: 1;
          }
          .colorBack--top{
            background-color: #434343;
            width: 480px;
            height: 120px;
            float: left;
          }
          .colorBack--bottom{
            background-color: #FBF4E2;
            width: 480px;
            height: 120px;
            float: right;
          }
        }
        .aside__colorBack--rotation{
          padding-top: 125px;
          height: 240px;
          transform: rotate(320deg);
          opacity: 0.75;
        }
        //fin produit

        //début choix couleur

        .models__choice{
          position: relative;
        }

        .models__containerBorder{
          display: flex;
          justify-content: space-around;
          width: 50%;
          margin: auto;
          margin-left: 34%;

          .models__divColor{
            width: 30px;
            height: 30px;
            border: solid 2px black;
            border-radius: 100%;
            cursor: pointer;
          }
        }

        .models__containerColor{
          display: flex;
          justify-content: space-around;
          width: 50%;
          margin: auto;
          margin-left: 35%;
          position: absolute;
          top: 12px;
          z-index: -1;
          .models__divColor{
            width: 32px;
            height: 32px;
            border-radius: 100%;
          }
          .models__divColor--red{
            background-color: #C24440;
          }
          .models__divColor--black{
            background-color: #434343;
          }
          .models__divColor--white{
            background-color: #FBF4E2
          }
        }
      }
    .models__article{
      margin-left: 30%;
      p{
        margin: 5px 0;
      }
    }
  }
  //fin partie produit 3 couleurs

  // début partie faq
  .faq{
    position: relative;
    margin-top: 100px;
    .faq__title{
      text-align: center;
      position: relative;
      width: 19rem;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 3rem;

      .faq__h2{
        position: absolute;
        top: -2.1rem;
        z-index: 1;
      }
      .faq__blue{
        width: 19rem;
        height: 20px;
        background-color: #608DAF;
        opacity: 0.75;
        margin-left: 20px;
      }
    }
    .faq__container{
      article{
        border-radius: 15px;
        background-color: #f5f6f7;
        width: 80%;
        margin: auto;
        cursor: pointer;
        margin-bottom: 2rem;
        position: relative;
        overflow: hidden;
        h4{
          margin-left: 5%;
          z-index: 1;
        }
        p{
          display: none;
          margin-left: 5%;
          opacity: 0.7;
          z-index: 1;
          position: absolute;

        }
        img.bulle1{
          opacity: 0.4;
          width: 100px;
          position: absolute;
          top: -2rem;
          display: none;
        }
        img.bulle2{
          opacity: 0.4;
          width: 100px;
          position: absolute;
          top: -1rem;
          display: none;
        }

      }
      article.current{
        @-webkit-keyframes mouvementI1 {
          from { margin-left: 100%; }
          to { margin-left: 2%; }
        }
        @-webkit-keyframes mouvementI2 {
          from { top: -6rem; }
          to { top: -2rem; }
        }
        @-webkit-keyframes mouvementP {
          from { top: 8rem; }
          to { top: 2rem; }
        }
        @-webkit-keyframes heightArticle {
          from { height: 61px; }
          to { height: 100px; }
          }
        -webkit-animation: heightArticle 3s;
        animation: heightArticle 3s;
        height: 100px;
        p{
          display: block;
          -webkit-animation: mouvementP 3s;
          animation: mouvementP 3s;
          top: 2rem;
        }
        img.bulle1{
          opacity: 0.25;
          width: 100px;
          position: absolute;
          top: 0rem;
          margin-left: 2%;
          display: block;
          -webkit-animation: mouvementI1 3s;
          animation: mouvementI1 3s;
        }
        img.bulle2{
          opacity: 0.4;
          width: 100px;
          position: absolute;
          top: -2rem;
          display: block;
          -webkit-animation: mouvementI2 3s;
          animation: mouvementI2 3s;
        }
      }
    }
  }
  //fin partie faq
}
