body
{
  background-color: #566270;

  .header
  {
    .header__nav
    {
      margin-top: 40px; 
      .nav__ul
      {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .nav__li
        {
          .nav__a
          {
            color: #A593E0;
            font-family: Helvetica, Arial, sans-serif;
            text-decoration: none;
            font-size: 1.5rem;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .main
  {
    margin-top: 80px;
    .main__title
    {
      text-align: center;
      color: #FFFFF3;
      font-size: 2rem;
    }
    .content
    {
      text-align: center;
      margin-top: 40px; 
      .content__annotation
      {
        margin-top: 20px;
        color: #E0E3DA;
        font-size: 1.3rem;
      }
    }
  }

  .footer
  {
    margin-top: 40px;
    .footer__contact
    {
      text-align: center;   
      .contact__mail
      {
        margin: 20px 0px;
        color: #E0E3DA;
        font-size: 1.3rem;
      }
      .contact__subtitle
      {  
        font-size: 1.5rem;
        color: #FFFFF3;
      }
      .social--network
      {
        padding-top: 40px;
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .network__linkedin
        {
          .linkedin__title
          {
            font-size: 1.5rem;
            color: #FFFFF3;
          }
          .img--linkedin
          {
            margin-top: 20px;
            width: 50%;
          }
        }
        .network__git
        {
          .git__title
          {
            font-size: 1.5rem;
            color: #FFFFF3;
          }
          .img--git
          {
            margin-top: 20px;
            width: 50%;
          }
        }
      }
    }
  }
}
.body--works
{
  main
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a
    {
      h2
      {
        font-size: 2rem;
      }
    }
  }
}
